<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfRN2hq5X3Ix2FGyxjCIysQaPJLnixiFE</string>
	<key>GCM_SENDER_ID</key>
	<string>272167798151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.gamemind.app</string>
	<key>PROJECT_ID</key>
	<string>gamemind-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>gamemind-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272167798151:ios:86c25a8c75fa3ca84fff22</string>
</dict>
</plist>